{# Password Reset Form Template #}
<div class="mc-reset-form" id="mc-reset-form" style="display: none;">
    <div class="mc-reset-form__header">
        <button type="button" class="mc-reset-form__tab-switch" data-target="login">
            {{ __('Back to Login', 'mesmeric-commerce') }}
        </button>
        <h3 class="mc-reset-form__title">{{ __('Reset Password', 'mesmeric-commerce') }}</h3>
    </div>

    {% if error_message %}
        <div class="mc-reset-form__error">
            {{ error_message }}
        </div>
    {% endif %}

    {% if success_message %}
        <div class="mc-reset-form__success">
            {{ success_message }}
        </div>
    {% endif %}

    <form action="{{ ajax_url }}" method="post" class="mc-reset-form__form">
        <input type="hidden" name="action" value="mc_login_popup_reset_password">
        <input type="hidden" name="security" value="{{ nonce }}">

        <div class="mc-reset-form__field">
            <label for="mc-reset-email" class="mc-reset-form__label">{{ __('Email', 'mesmeric-commerce') }}</label>
            <input type="email" name="email" id="mc-reset-email" class="mc-reset-form__input" required>
        </div>

        {% if settings.enable_recaptcha %}
            <div class="mc-reset-form__recaptcha g-recaptcha" data-sitekey="{{ settings.recaptcha_site_key }}"></div>
        {% endif %}

        <div class="mc-reset-form__actions">
            <button type="submit" class="mc-reset-form__submit">
                {{ __('Send Reset Link', 'mesmeric-commerce') }}
            </button>
        </div>
    </form>

    <div class="mc-reset-form__info">
        <p>{{ __('Enter your email address and we will send you a link to reset your password.', 'mesmeric-commerce') }}</p>
    </div>
</div>
