<div class="mesmeric-metabox">
    <div class="mesmeric-field">
        <label for="mesmeric_add_to_cart_text_single_label">{{ labels.single }}</label>
        <input 
            type="text" 
            id="mesmeric_add_to_cart_text_single_label" 
            name="_mesmeric_add_to_cart_text_single_label" 
            value="{{ single_label }}"
            class="widefat"
        >
        <p class="description">{{ labels.desc }}</p>
    </div>

    <div class="mesmeric-field">
        <label for="mesmeric_add_to_cart_text_shop_label">{{ labels.shop }}</label>
        <input 
            type="text" 
            id="mesmeric_add_to_cart_text_shop_label" 
            name="_mesmeric_add_to_cart_text_shop_label" 
            value="{{ shop_label }}"
            class="widefat"
        >
        <p class="description">{{ labels.desc }}</p>
    </div>
</div>
